<!DOCTYPE html>
<html>
  <head>
    <title>Chat!</title>
    <style>
      <%= @css_content %>
    </style>
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
  <script>
      <%= @javascript_content %>
  </script>
  </head>
  <body>
    <div id="content">
      <div style="header">
        <h1 id="topic">
          Chatter.ly: Some random topic
        </h1>        
      </div>
      
      
      <div id="chat-log">
      </div>
      
            
      <hr style="clear:both; margin-top: 10em" />
      <form action="/say" method="get" onsubmit="put(); return false;">
      <input type="text" name="nick" value="bob" id="nick" size="6" /> says <input type="text" name="msg" value="" id="msg" size="40" />
      <input type="submit" style='display:none' />
      </form>
    
    </div>
    
  </body>
</html>